html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #1b1b1b
}

.header {
    margin-bottom: 90px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: auto;
}

.menu {
    margin-left: 130px;
    margin-right: 185px;
}

.menu__item {
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.user-nav {
    display: flex;
    gap: 0 20px;
}

.top {
    margin-bottom: 100px;
}

.top-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.top-slide__inner {
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.top-slide__content {
    flex-basis: 183px;
    margin-top: -88px;
}

.top-slide__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 1.3;
}

.top-slide__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.top-slide__text {
    margin-bottom: 20px;
}

.top-slide__btn {
    margin-left: auto;
}

.button {
    color: #7449BB;
    text-transform: uppercase;
    font-weight: 700;
    padding: 21px 55px;
    border: 1px solid #7449BB;
    display: inline-block;
    transition: all .3s ease;
}

.button:hover {
    color: white;
    background-color: #7449BB;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none;
}

.container-arrow {
    position: relative;
    padding: 0;
    min-width: 1200px;
}

.top .swiper {
    padding-bottom: 50px;
}

.swiper-button-next {
    left: 75px;
    right: auto;
}

.about {
    margin-bottom: 100px;
    overflow: hidden;
}

.about__inner {
    padding-left: 200px;
}

.about__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.34;
    text-transform: uppercase;
    max-width: 185px;
    margin-bottom: 20px;
}

.about__textbox {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about__text {
    flex-basis: 387px;
    line-height: 1.2;
}

.about__text p {
    margin-bottom: 15px;
}

.about__text--bold {
    font-weight: 700;
}

.about__item-title {
    margin-bottom: 20px;
}

.about__slider {
    width: 1800px;
    padding-left: 200px;
    margin-left: -200px;
    padding-bottom: 20px;
}

.about__arrow {
    margin-left: -198px;
    margin-top: -6px;
}

.container__arrow .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-next.swiper-button-disabled {
    opacity: 1;
}

.accordeon {
    margin-bottom: 223px;
}

.accordeon__inner {
    padding-left: 200px;
}

.accordeon__item {
    border-bottom: 1px solid #000;
    padding: 0 101px 0 0;
    position: relative;
}

.accordeon__item::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 50px;
    background-image: url(../images/arrow-down.svg);
    right: 85px;
    top: 51px;
}

.accordeon__item:last-child::after {
    content: '';
    position: absolute;
    background-image: url(../images/accordeon-img.jpg);
    width: 65px;
    height: 120px;
    bottom: -105px;
    left: 268px;
}

.accordeon__triger {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 50px;
}

.accordeon__triger-title {
    text-transform: uppercase;
    font-size: 24px;
    flex-basis: 300px;
    padding-bottom: 42px;
}

.accordeon__triger-text {
    flex-basis: 387px;
    margin-right: 104px;
    padding-bottom: 20px;
}

.accordeon__content {
    padding-top: 20px;
    display: none;
    padding-bottom: 20px;
}

.accordeon__item--active .accordeon__content {
    display: block;
}

.accordeon__content p {
    margin-bottom: 10px;
}

.products {
    margin-bottom: 150px;
}

.products__inner {
    position: relative;
    min-height: 647px;
}

.products__title {
    font-family: "Playfair Display", serif;
    line-height: 1.34;
    font-size: 32px;
    width: 100px;
}

.products__items {
    display: flex;
    gap: 0 20px;
    position: absolute;
    top: 0;
    left: 200px;
}

.products__item {
    text-align: center;
}

.products__item-step {
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    margin-bottom: 20px;
}



.products__itm-img {
    margin-bottom: 20px;
}

.products__item_name {
    margin-bottom: 10px;
}

.products__item-name span {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;

}

.products__item-price {
    font-family: "Playfair Display", serif;
    line-height: 1.34;
    font-size: 32px;
    font-style: italic;
}

.video {
    margin-bottom: 150px;
}

.video__box {
    margin-left: auto;
    max-width: 997px;
    min-height: 600px;
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #C4A9CD;
    padding: 66px 0 100px;
}

.footer__top {
    margin-bottom: 70px;
    display: flex;
    gap: 0 70px;
    justify-content: space-between;
}

.footer__logo {
    margin-right: 10px;
}

.footer__items {
    flex-basis: 387px;
}

.footer__item+.footer__item {
    margin-top: 70px;
}

.footer__item-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__item-form {
    position: relative;
}

.footer__item-input {
    width: 100%;
    display: block;
    padding: 10px 60px 10px 0;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #C4A9CD;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1b1b1b;
}

.footer__item-input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    opacity: 0.4;
}

.footer__item-btn {
    position: absolute;
    right: 0;
    top: 10px;
}

.footer__item-list li {
    padding-top: 10px;
}

.footer__social-list {
    margin-left: 10px;
    align-self: flex-end;
    margin-right: 105px;
}

.footer__social-item+.footer__social-item {
    margin-top: 20px;
}

.footer__social-item svg path {
    transition: all .3s;
}

.footer__social-item svg:hover path {
    fill: #7449BB;
}

.footer__nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 105px;
}

.footer__nav-list {
    display: flex;
    gap: 0 20px;
}

.swiper-pagination{
    display: none;
}

@media (max-width: 1640px) {
    .products__items {
        position: static;
    }

    .products__title {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 1240px) {
    .products__item-img {
        width: 100%;
    }
}


@media (max-width: 1040px) {
    .about__textbox {
        display: block;
    }

    .footer__img{
        display: none;
    }
    .footer__nav{
        margin-right: 0;
    }
}

@media (max-width: 992px) {
    .header__title {
        display: none;
    }

    .menu {
        margin-left: 0;
        margin-right: 0;
    }

    .about__textbox {
        margin-bottom: 50px;
    }

    .accordeon__inner {
        padding-left: 0;
    }

    .container-arrow{
        display: none;
    }
    .swiper-pagination{
        display: block;
    }
    .swiper-pagination-bullet-active{
        background: #7449BB;
    }

}

@media (max-width: 850px) {
    .top-slide__inner {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .top-slide__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .top-slide__btn {
        margin: 50px auto 20px;
    }

    .products__items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .products__item {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .accordeon__triger {
        display: block;
        padding-top: 20px;
    }

    .accordeon__triger-title {
        padding-bottom: 10px;
    }

    .accordeon__item::before {
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 25px;
    }

    .video__box{
        min-height: 435px;
    }
    .footer__top{
        display: block;
    }
    .footer__logo{
        margin-bottom: 20px;
        display: inline-block;
    }
    .footer__item-form{
        max-width: 400px;
    }

    .footer__social-list{
        margin-top: 30px;
        display: flex;
        gap: 0 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .footer__social-item + .footer__social-item{
        margin-top: 0;
    }

    .footer__nav-list{
        gap: 10px 20px;
        flex-wrap: wrap;
    }
}

@media (max-width: 630px) {
    .about__slider {
        padding-left: 0;
        margin-left: 0;
    }

    .about__inner {
        padding-left: 0;
    }

    .about__arrow {
        display: none;
    }

    .products__item {
        width: 100%;
    }

    .products__item-img {
        width: 80%;
    }
}

@media (max-width: 475px) {
    .top-slide__img {
        display: none;
    }

    .top-slide__content {
        flex-basis: 100%;
        order: -1;
        text-align: center;
    }

    .top-slide__img--mini {
        width: 70%;
        margin: 0 auto;
    }

    .top-slide__text {
        margin-bottom: 0;
    }

    .accordeon__item {
        padding: 0 50px 0 0;
    }

    .accordeon__triger-text {
        margin-right: 0;
    }

}

@media (max-width: 420px) {
    .header__inner {
        flex-wrap: wrap;
        align-items: center;
    }

    .logo,
    .user-nav {
        order: -1;
    }

    .menu {
        padding-top: 30px;
        text-align: right;
        width: 100%;
    }

    .about__item img {
        width: 365px;
    }

    .about__slider {
        width: 1500px;
    }

    .accordeon__item:last-child::after {
        left: 210px;
    }

    .footer__top{
        margin-bottom: 30px;
    }
    .footer__item+.footer__item{
        margin-top: 30px;
    }
    .footer{
        padding: 50px 0;
    }
}

@media (max-width: 375px) {
    .about__item img {
        width: 280px;
    }

    .about__slider {
        width: 1200px;
    }


}